
.post-face{  padding: 16px;  min-height: 210px;}

.text-second-prt { order:3;}
.text-first-prt { order:2;}


.grid-container-face{
    display: grid;
    grid-gap: 1em;
}


.ch-face { height:100%; transition: all 1s;}

.post-face:hover .ch-face,
.post-face:focus .ch-face {
    transform: scale(1.2);
}


.post-face:hover .ch-face-2, .post-face:focus .ch-face-2 { transform:none;}
.post-face:hover .ch-face-3, .post-face:focus .ch-face-3 { transform:none;}


@media (min-width:768px)
{
    .grid-container-face {
        display: grid;
        grid-template-areas: "post-face-1 post-face-3 post-face-3"
                       "post-face-2 post-face-4 post-face-5"
    ;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, 1fr); }


    .post-face-1 {
        grid-area: post-face-1;
    }
    .post-face-2 {
        grid-area: post-face-2;
    }
    .post-face-3 {
        grid-area: post-face-3;
    }
    .post-face-4 {
        grid-area: post-face-4;
    }
    .post-face-5 {  grid-area: post-face-5;

    }


}

